[push]
    default = current
    recurseSubmodules = on-demand
[color]
    ui = true
[core]
    editor = vim
    ignorecase = false
    excludesfile = /Users/mark/.gitignore
    attributesfile = /Users/mark/.gitattributes
[help]
    autocorrect = 1
[gitflow "branch"]
    master = master
    develop = develop
[gitflow "prefix"]
    feature = feature/
    release = release/
    hotfix = hotfix/
    support = support/
    versiontag =
[diff "exif"]
    textconv = exiftool
[diff]
	submodule = log
[status]
	submoduleSummary = true
[fetch]
	recurseSubmodules = on-demand
[credential]
	helper = osxkeychain
[pager]
    diff = diff-so-fancy | less --tabs=4 -RFX
    show = diff-so-fancy | less --tabs=4 -RFX
[alias]
	permission-reset = !git diff -p -R --no-color | grep -E \"^(diff|(old|new) mode)\" --color=never | git apply
[submodule]
    fetchJobs = 4
