snippet html5
	<!doctype html>
	<html lang="en">
		<head>
			<meta charset="utf-8">
			<meta http-equiv="x-ua-compatible" content="ie=edge">
			<title>${0}</title>
			<meta name="description" content="${1}">
		</head>
		<body>
			${2:${VISUAL}}
		</body>
	</html>
