snippet equation equation aligned
	\\begin{align}
		${1:${VISUAL}} &= ${2} \\\\
	\\end{align}

snippet enumerate list
	\\begin{enumerate}
		\\item ${1:${VISUAL}}
	\\end{enumerate}

snippet figure image figure
	\\hfill
	\\begin{figure}[h!]
		\\begin{center}
			\\includegraphics[width=20em]{${1:${VISUAL}}}
			\\caption{${2}}
		\\end{center}
	\\end{figure}

snippet verbatim verbatim
	\hfill

	\noindent\rule{\textwidth}{0.5pt}

	\hfill

	${1:${VISUAL}}

	\verbatiminput{${2}}
