snippet equation equation aligned
	\\begin{equation}
		\\begin{aligned}
			${1:${VISUAL}} &= ${2} \\\\
		\\end{aligned}
	\\end{equation}

snippet enumerate list
	\\begin{enumerate}
		\\item ${1:${VISUAL}}
	\\end{enumerate}
